<!--
  Generated template for the AddContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add New Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>First Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Last Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Role</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Contact Number</ion-label>
    <ion-input type="phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Region</ion-label>
    <ion-select>
      <ion-option value="emea">EMEA</ion-option>
      <ion-option value="apac">APAC</ion-option>
      <ion-option value="na">NA</ion-option>
    </ion-select>
    
  </ion-item>
  <button ion-button full round color="primary">Add Contact</button>
</ion-content>
