<!--
  Generated template for the UserLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Log In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button full round color="primary" (click)="login()">Log In</button>
    <button ion-button full round color="secondary">Register</button>
  </div>

</ion-content>
