<!--
  Generated template for the SearchContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search Contacts</ion-title>
    <ion-buttons end *ngIf="action == 'none'">
      <button ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button (click)="navigateToAddContacts()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar (ionInput)="getContacts($event)">
  </ion-searchbar>

</ion-header>


<ion-content padding>
  
  <ion-list>
    <ion-item *ngFor="let contact of contacts" (click)="performAction(contact)">
        <ion-icon name="person" item-start></ion-icon>
        <p>{{ contact }}</p>
    </ion-item>
  </ion-list>

</ion-content>
