<!--
  Generated template for the SearchContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Search Releases</ion-title>
    </ion-navbar>
  
    <ion-searchbar (ionInput)="getReleases($event)">
    </ion-searchbar>
  
  </ion-header>
  
  
  <ion-content padding>
    
    <ion-list>
      <ion-item *ngFor="let release of releases" (click)="performAction(release)">
          <ion-icon name="paper" item-start></ion-icon>
          <p>{{ release.title }}</p>
      </ion-item>
    </ion-list>
  
  </ion-content>
  