<!--
  Generated template for the ViewContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> {{ person }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" disabled [(ngModel)]="contact.firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" disabled [(ngModel)]="contact.lastName">Doe</ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Role</ion-label>
        <ion-input type="text" disabled [(ngModel)]="contact.role">Developer</ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Contact Number</ion-label>
        <ion-input type="phone" disabled [(ngModel)]="contact.number">01677885652</ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>Region</ion-label>
          <ion-input type="phone" disabled [(ngModel)]="contact.timezone">01677885652</ion-input>
      </ion-item>
      <ion-buttons>
          <button full round ion-button>
            Edit
          </button>
          <button full round ion-button>
            Delete
          </button>
        </ion-buttons>
</ion-content>
