<ion-header>
  <ion-navbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <button ion-button full round color="primary">Update My Contact</button>
    <button ion-button full round color="primary" (click)="searchContacts()">Search Contacts</button>
    <button ion-button full round color="primary" (click)="addContact()">Add New Contact</button>
  </div>
</ion-content>
