<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>Quick Actions</h1>

  <ion-item *ngFor="let page of quickActions" (click)="openNavDetailsPage(page)">
    <ion-icon name="{{page.icon}}" item-start></ion-icon>
    <p>{{page.name}}</p>
  </ion-item>

  <h1>More Actions</h1>
  <ion-item *ngFor="let page of moreActions" (click)="openNavDetailsPage(page)">
      <ion-icon name="{{page.icon}}" item-start></ion-icon>
      <p>{{page.name}}</p>
  </ion-item>

</ion-content>