<!--
  Generated template for the CreateReleasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create a Release</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label floating>Title</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Owners</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-item>
      
        <ion-item>
          <ion-label floating>Start</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="start"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label floating>End</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="end"></ion-datetime>
        </ion-item>
      </ion-list>
      <button ion-button full round color="primary">Create Release</button>
</ion-content>
